/*gradient animation*/
@keyframes gradientAnimation {
    0%, 100% {
        background-position: 100% 0%;
    }
    
    50% {
        background-position: 0% 100%;
    }
}

@keyframes breatheAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); 
    }
}

body {
    background: rgb(36, 28, 28);
    background: linear-gradient(to right, rgba(36, 28, 28, 1) 0%, rgba(34, 38, 48, 1) 25%, rgba(32, 48, 68, 1) 50%, rgba(28, 44, 106, 1) 75%, rgba(28, 60, 148, 1) 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 5s infinite;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    overflow: hidden; /* Hide scrollbars */
}

#slogan {
    color: white;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1rem;
}

#content {
    color: white;
    font-size: 5vw;
    text-align: center;
}

.all-content {
    padding: 20px;
    text-align: center;
    animation: breatheAnimation 5s infinite;
    height: 100vh; /* Fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.logo-container img {
    max-width: 100%;
    /* Removed border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/* Media Queries */
@media (max-width: 768px) {
    #slogan {
        font-size: 4vw;
    }

    #content {
        font-size: 8vw;
    }

    .logo-container {
        width: 70%;
    }
}

@media (max-width: 480px) {
    #slogan {
        font-size: 5vw;
    }

    #content {
        font-size: 10vw;
    }

    .logo-container {
        width: 90%;
    }
}
